# Dados Censitários

## Fontes

ftp://ftp.ibge.gov.br/Censos/Censo_Demografico_2010/Resultados_do_Universo/Agregados_por_Setores_Censitarios/

In [2]:
%matplotlib inline
import pandas as pd
import geopandas as gpd

In [3]:
censo = pd.read_excel('../01.Dados/Censo 2010/RJ/EXCEL/Basico_RJ.xls')

In [4]:
setor = gpd.read_file('../01.Dados/Mapas/RJ-SETOR/RJ-SETOR.shp')

In [5]:
censo.head()

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,330010005000001,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,2.62,1.94,2356.80,5716056.06,2571.06,5684616.94,1565.37,4344465.56,2192.65,4711305.89
1,330010005000002,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,2.51,1.50,2040.47,3020377.79,2236.67,2869054.77,1816.69,20052928.88,2375.67,24942113.99
2,330010005000003,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,3.08,2.19,2687.80,8362007.52,2836.66,8402987.99,1593.37,7250920.66,2294.84,8835722.10
3,330010005000004,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,3.04,3.25,3026.67,24807309.86,3352.62,26410753.99,1865.52,10994097.59,2574.41,13362652.63
4,330010005000005,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,3.34,1.94,1124.82,712447.24,1229.19,649944.69,689.40,583588.50,1028.21,521878.03

In [6]:
setor.head()

,ID1,CD_GEOCODI,TIPO,CD_GEOCODB,NM_BAIRRO,CD_GEOCODD,NM_DISTRIT,CD_GEOCODS,NM_SUBDIST,CD_GEOCODM,NM_MUNICIP,NM_MESO,NM_MICRO,geometry
0,410890,330455705330018,URBANO,330455705156,Rocinha,330455705,RIO DE JANEIRO,330455705,ROCINHA,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((679.387 7456.374, 679.401 7456.395, ..."
1,410891,330455705330019,URBANO,330455705156,Rocinha,330455705,RIO DE JANEIRO,330455705,ROCINHA,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((679.459 7456.356, 679.457 7456.359, ..."
2,410892,330455705330020,URBANO,330455705156,Rocinha,330455705,RIO DE JANEIRO,330455705,ROCINHA,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((679.554 7456.388, 679.556 7456.391, ..."
3,410946,330455705330064,URBANO,330455705156,Rocinha,330455705,RIO DE JANEIRO,330455705,ROCINHA,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((679.976 7456.897, 679.977 7456.899, ..."
4,410893,330455705330021,URBANO,330455705156,Rocinha,330455705,RIO DE JANEIRO,330455705,ROCINHA,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((679.550 7456.471, 679.554 7456.460, ..."

In [7]:
censo.dtypes

Cod_setor                int64
Cod_Grandes Regiões      int64
Nome_Grande_Regiao      object
Cod_UF                  object
Nome_da_UF              object
Cod_meso                 int64
Nome_da_meso            object
Cod_micro                int64
Nome_da_micro           object
Cod_RM                   int64
Nome_da_RM              object
Cod_municipio            int64
Nome_do_municipio       object
Cod_distrito             int64
Nome_do_distrito        object
Cod_subdistrito          int64
Nome_do_subdistrito     object
Cod_bairro               int64
Nome_do_bairro          object
Situacao_setor           int64
Tipo_setor               int64
V001                   float64
V002                   float64
V003                   float64
V004                   float64
V005                   float64
V006                   float64
V007                   float64
V008                   float64
V009                   float64
V010                   float64
V011                   float64
V012                   float64
dtype: object

In [8]:
setor.dtypes

ID1              int64
CD_GEOCODI      object
TIPO            object
CD_GEOCODB      object
NM_BAIRRO       object
CD_GEOCODD      object
NM_DISTRIT      object
CD_GEOCODS      object
NM_SUBDIST      object
CD_GEOCODM      object
NM_MUNICIP      object
NM_MESO         object
NM_MICRO        object
geometry      geometry
dtype: object

In [9]:
censo['Cod_setor'] = censo['Cod_setor'].astype(str)

In [10]:
censo.dtypes

Cod_setor               object
Cod_Grandes Regiões      int64
Nome_Grande_Regiao      object
Cod_UF                  object
Nome_da_UF              object
Cod_meso                 int64
Nome_da_meso            object
Cod_micro                int64
Nome_da_micro           object
Cod_RM                   int64
Nome_da_RM              object
Cod_municipio            int64
Nome_do_municipio       object
Cod_distrito             int64
Nome_do_distrito        object
Cod_subdistrito          int64
Nome_do_subdistrito     object
Cod_bairro               int64
Nome_do_bairro          object
Situacao_setor           int64
Tipo_setor               int64
V001                   float64
V002                   float64
V003                   float64
V004                   float64
V005                   float64
V006                   float64
V007                   float64
V008                   float64
V009                   float64
V010                   float64
V011                   float64
V012                   float64
dtype: object

In [11]:
setor = pd.merge(setor, censo, left_on='CD_GEOCODI', right_on='Cod_setor', how='left')

In [12]:
setor

,ID1,CD_GEOCODI,TIPO,CD_GEOCODB,NM_BAIRRO,CD_GEOCODD,NM_DISTRIT,CD_GEOCODS,NM_SUBDIST,CD_GEOCODM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,410890,330455705330018,URBANO,330455705156,Rocinha,330455705,RIO DE JANEIRO,330455705,ROCINHA,3304557,...,3.32,2.99,593.56,110532.97,681.79,66510.55,412.08,147976.22,658.21,74104.40
1,410891,330455705330019,URBANO,330455705156,Rocinha,330455705,RIO DE JANEIRO,330455705,ROCINHA,3304557,...,3.24,2.88,378.27,209230.61,745.78,138022.78,431.95,242995.28,749.76,183389.25
2,410892,330455705330020,URBANO,330455705156,Rocinha,330455705,RIO DE JANEIRO,330455705,ROCINHA,3304557,...,3.17,2.30,705.05,121767.60,757.04,91320.62,532.05,143295.24,701.27,70130.28
3,410946,330455705330064,URBANO,330455705156,Rocinha,330455705,RIO DE JANEIRO,330455705,ROCINHA,3304557,...,3.22,2.69,686.60,214740.09,805.31,155993.62,483.81,239318.45,779.22,155061.31
4,410893,330455705330021,URBANO,330455705156,Rocinha,330455705,RIO DE JANEIRO,330455705,ROCINHA,3304557,...,2.88,2.03,621.94,274726.99,731.99,242650.09,491.83,238726.75,720.79,184712.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10499,404349,330455705160258,URBANO,330455705042,Brás de Pina,330455705,RIO DE JANEIRO,330455705,PENHA,3304557,...,2.92,1.75,2127.54,7249356.17,2483.83,7579990.20,1426.07,4598089.37,2070.31,5343164.29
10500,404350,330455705160259,URBANO,330455705042,Brás de Pina,330455705,RIO DE JANEIRO,330455705,PENHA,3304557,...,3.14,1.34,2640.03,11688714.97,3473.73,12492321.24,1361.09,5879941.62,2483.17,7951119.88
10501,404351,330455705160260,URBANO,330455705042,Brás de Pina,330455705,RIO DE JANEIRO,330455705,PENHA,3304557,...,3.76,7.77,1347.24,4896886.73,2200.50,6130944.29,982.48,4203635.12,1945.26,6456558.96
10502,404352,330455705160261,URBANO,330455705042,Brás de Pina,330455705,RIO DE JANEIRO,330455705,PENHA,3304557,...,3.09,1.82,2180.75,3496359.15,2401.78,3318672.71,1464.82,2849686.18,2081.12,2765792.62
10503,404353,330455705160262,URBANO,330455705042,Brás de Pina,330455705,RIO DE JANEIRO,330455705,PENHA,3304557,...,3.02,1.89,2779.58,13726598.87,3027.97,14203146.96,1560.32,7067301.85,2318.95,8747773.33

In [13]:
setor.crs

<Projected CRS: PROJCS["Transverse_Mercator",GEOGCS["GCS_unknown", ...>
Name: Transverse_Mercator
Axis Info [cartesian]:
- E[east]: Easting (kilometre)
- N[north]: Northing (kilometre)
Area of Use:
- undefined
Coordinate Operation:
- name: unnamed
- method: Transverse Mercator
Datum: Unknown based on GRS80 ellipsoid
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [14]:
setor.to_file('../01.Dados/Mapas/RJ-SETOR/RJ-SETOR.shp')